<div class="flex flex-col gap-2 p-2">

  <div class="flex gap-2 ">
    <div class="mockup-code">
      <pre><code>{{ userData$ | async | json }}</code></pre>
    </div>

    <div class="mockup-code">
      <pre><code>{{ userData$ | async | json }}</code></pre>
    </div>

    <div class="mockup-code">
      <pre><code>{{ userData$ | async | json }}</code></pre>
    </div>

    <div class="mockup-code">
      <pre><code>{{ userData$ | async | json }}</code></pre>
    </div>

    <div class="mockup-code">
      <pre><code>{{ userData$ | async | json }}</code></pre>
    </div>
  </div>

  <div class="flex gap-2">
    <div class="mockup-code bg-primary text-primary-content">
      <pre><code>{{ userData2$ | async | json }}</code></pre>
    </div>

    <div class="mockup-code bg-primary text-primary-content">
      <pre><code>{{ userData2$ | async | json }}</code></pre>
    </div>

    <div class="mockup-code bg-primary text-primary-content">
      <pre><code>{{ userData2$ | async | json }}</code></pre>
    </div>

    <div class="mockup-code bg-primary text-primary-content">
      <pre><code>{{ userData2$ | async | json }}</code></pre>
    </div>

    <div class="mockup-code bg-primary text-primary-content">
      <pre><code>{{ userData2$ | async | json }}</code></pre>
    </div>
  </div>


</div>
